.wrapper-category {
    margin-top: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container-category {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.type-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-select {
    display: flex;
    width: 100%;
    gap: 10px;
}

.category-select-item {
    background-color: rgb(15, 19, 146);
    border-radius: 12px;
    color: white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 40px;
    cursor: pointer;
    transition: background 0.5s;
}

.category-select-item.active {
    background-color: rgb(81, 12, 219);
}

.category-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.category-input-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.category-input-item-button {
    display: flex;
    justify-content: center;
}

.category-input-item-button button {
    font-size: 18px;
    padding: 12px;
    width: 70%;
    background: rgb(81, 12, 219) !important;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    border: none;
}

.category-input-item label {
    font-size: 16px;
}

.category-input-item label a {
    text-decoration: none;
}

.category-input-item input {
    padding: 10px;
    width: 100%;
    border-radius: 12px;
    height: 45px;
    border: 2px solid #c4c4c4;
    font-size: 16px;
}

.category-input-item input:focus {
    outline: none;
    border: 2px solid rgb(81, 12, 219);
}

@media screen and (max-width: 860px) {
}

@media screen and (max-width: 515px) {
    .container-category {
        width: 100%;
    }

    .category-select {
        flex-wrap: wrap;
    }
}
