@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
    width: 13px;
    background: #17eaa7;
}

::-webkit-scrollbar-thumb {
    background: #5f24ce;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover{
    background: #228566;
}

body {
    overflow-x: hidden;
    background-image: linear-gradient(to right, #6927e5, #17eaa7);
    position: relative;
    height: 800px;
    width: 100%;
}

.header {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
}

/* Title & Logo */
.Title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 60px;
    height: 60px;
}

h2 {
    color: white;
}


.user-image {
    width: 35px;
    height: 35px;
    /* padding: 100px; */
    border-radius: 50%;
    border: 2px solid #c4c4c4;
    background-size: cover;
    box-sizing: border-box;
    background-position: center;
}

.user-information {
    display: flex;
    /* width: 100px; */
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 10px;
}

.content {
    margin-top: 20px;
}

/* Content */
.slogan {
    margin-top: 160px;
    color: white;
    text-align: center;
}

/* Button */
.button-wrapper {
    display: flex;
    gap: 60px;
    margin-top: 80px;
    justify-content: center;
}

.button-33 {
    background-color: white;
    width: 200px;
    border-radius: 100px;
    box-shadow: rgba(44, 56, 187, 0.372) 0 -25px 18px -14px inset,
        rgba(44, 56, 187, 0.372) 0 1px 2px, rgba(44, 56, 187, 0.372) 0 2px 4px,
        rgba(44, 56, 187, 0.372) 0 4px 8px, rgba(44, 56, 187, 0.372) 0 8px 16px,
        rgba(44, 56, 187, 0.372) 0 16px 32px;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto,
        sans-serif;
    padding: 14px 33px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-33:hover {
    box-shadow: rgba(44, 63, 187, 0.367) 0 -25px 18px -14px inset,
        rgba(44, 63, 187, 0.367) 0 1px 2px, rgba(44, 63, 187, 0.367) 0 2px 4px,
        rgba(44, 63, 187, 0.367) 0 4px 8px, rgba(44, 63, 187, 0.367) 0 8px 16px,
        rgba(44, 63, 187, 0.367) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.button-link {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.Content-About p{
    font-size: 20px;
}

/* Transaction */

.Content-Transaction {
    padding: 40px;
    box-sizing: border-box;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img-transaction {
    width: 600px;
    height: 300px;
    border-radius: 12px;
}

.img-slogan {
    color: white;
}

/* History */
.Content-History {
    padding: 40px;
    box-sizing: border-box;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Content-History:nth-child(2){
    flex-direction: row-reverse;
}

.img-History {
    width: 600px;
    height: 300px;
    border-radius: 12px;
}

/* Insight */
.Content-Insight {
    padding: 40px;
    box-sizing: border-box;
    margin-top: 200px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img-Insight {
    height: 300px;
    width: 600px;
    border-radius: 12px;
}

.footer{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p{
    width: 80%;
    font-size: 17px;
    text-align: center;
    color: white;
}


/* Mobile Responsive */
@media screen and (max-width: 860px) {
    .button-33 {
        justify-content: center;
        padding: 13px 23px;
        width: 175px;
    }

    .Content-About p{
        width: 400px;
        margin: auto;
    }

    .Content-Transaction {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .Content-History {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .Content-Insight {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .img-slogan {
        font-size: 10px;
    }

    .img-transaction {
        width: 400px;
        height: 200px;
    }

    .img-History {
        width: 400px;
        height: 200px;
    }

    .img-Insight {
        width: 400px;
        height: 200px;
    }
}

@media screen and (max-width: 515px) {
    .header {
        width: 100%;
        height: 60px;
    }

    h2 {
        font-size: 15px;
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    .user-image {
        width: 30px;
        height: 30px;
    }

    .button-33 {
        width: 135px;
        justify-content: center;
        padding: 13px 23px;
    }

    .button-link {
        font-size: 11px;
    }

    .slogan {
        margin-top: 50px;
        font-size: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .Content-About h1{
        width: 300px;
        font-size: 23px;
    }

    .Content-About p{
        width: 300px;
        margin: auto;
    }

    .Content-Transaction {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
    }

    .Content-History {
        margin: auto;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    .Content-Insight {
        margin: auto;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    .img-transaction {
        width: 300px;
        height: 150px;
    }

    .img-slogan {
        font-size: 10px;
    }

    .img-History {
        width: 300px;
        height: 150px;
    }

    .img-Insight {
        width: 300px;
        height: 150px;
    }

    .footer p{
        font-size: 14px;
    }
}
