* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    overflow-x: hidden;
    background-color: rgb(9, 11, 69);
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.header {
    background-color: rgb(21, 23, 99);
}

/* Title & Logo */
.Title {
    display: flex;
    gap: 20px;
}

.logo {
    margin-left: 10px;
    width: 60px;
    height: 60px;
}

h2 {
    margin-top: 20px;
    color: white;
}

/* Navbar */
/* .navbar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    margin-left: 790px;
    overflow: hidden;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    border-radius: 12px;
    background-color: rgb(37, 39, 191);
} */

/* Content */
.slogan {
    margin-top: 160px;
    color: white;
    text-align: center;
}

/* Button */
.button-wrapper {
    display: flex;
    gap: 60px;
    margin-top: 80px;
    justify-content: center;
}

.button-33 {
    background-color: rgb(43 48 255);
    border-radius: 100px;
    box-shadow: rgba(44, 56, 187, 0.372) 0 -25px 18px -14px inset,
        rgba(44, 56, 187, 0.372) 0 1px 2px, rgba(44, 56, 187, 0.372) 0 2px 4px,
        rgba(44, 56, 187, 0.372) 0 4px 8px, rgba(44, 56, 187, 0.372) 0 8px 16px,
        rgba(44, 56, 187, 0.372) 0 16px 32px;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto,
        sans-serif;
    padding: 14px 33px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-33:hover {
    box-shadow: rgba(44, 63, 187, 0.367) 0 -25px 18px -14px inset,
        rgba(44, 63, 187, 0.367) 0 1px 2px, rgba(44, 63, 187, 0.367) 0 2px 4px,
        rgba(44, 63, 187, 0.367) 0 4px 8px, rgba(44, 63, 187, 0.367) 0 8px 16px,
        rgba(44, 63, 187, 0.367) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.button-link {
    text-decoration: none;
    color: white;
}

/* Transaction */

.Content-Transaction {
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
    margin-top: 200px;
    display: flex;
    gap: 20px;
}

.img-transaction {
    border-radius: 12px;
    width: 600px;
    height: 350px;
}

.img-slogan {
    color: white;
}

/* History */
.Content-History {
    float: right;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
    margin-top: 200px;
    display: flex;
    gap: 20px;
}

.img-History {
    border-radius: 12px;
    width: 600px;
    height: 350px;
}

/* Insight */
.Content-Insight {
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
    margin-top: 850px;
    display: flex;
    gap: 20px;
}

.img-Insight {
    border-radius: 12px;
    width: 600px;
    height: 350px;
}

/* Mobile Responsive */
@media screen and (max-width: 515px) {
}
