@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    /* overflow: hidden; */
}

/* slide navbar */
.dashboard-content {
    position: absolute;
    /* height: 100%; */
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
    margin-top: 30px;
}

.sidebar.active ~ .dashboard-content {
    width: calc(100% - 240px);
    left: 240px;
}

.sidebar.active ~ .dashboard-content .header {
    width: calc(100% - 240px);
}

.wrapper {
    /* background-color: brown; */
    /* display: flex; */
    /* justify-content: center; */
    margin: 10px;
}

/* Money Tabel  */
.dashboard-information {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.box-dashboard {
    /* width: 380px; */
    flex-grow: 1;
    border-radius: 10px;
    background-image: linear-gradient(
        to right,
        rgb(9, 11, 69),
        rgb(21, 23, 99),
        rgb(40, 41, 131)
    );
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: white;
}

/* hamburger menu */

.box-balance {
    font-size: 80%;
}

.header {
    position: fixed;
    width: calc(100% - 78px);
    height: 60px;
    background-image: linear-gradient(
        to right,
        rgb(9, 11, 69),
        rgb(21, 23, 99)
    );
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: width 0.5s;
    top: 0;
}

.header .header-left button {
    font-size: 24px;
    cursor: pointer;
    color: white;
    border: none;
    background: transparent;
}

.sidebar .logo_content .logo {
    justify-content: center;
}

.sidebar .logo_content .logo .sidebar-hamburger {
    display: none;
    cursor: pointer;
}

/* Alert */
.alert {
    width: 50%;
    height: 50px;
    margin: auto;
    background-color: lightblue;
    border: 1px solid blue;
    color: darkblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

/* Transaction History */
.wrapper-history {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.headbox-history {
    width: 600px;
    border-radius: 12px;
    height: auto;
    background-color: rgb(21, 23, 99);
    overflow: hidden;
}

.headbox-history .tabs {
    width: 100%;
    margin: auto;
    font-size: 15px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
}

.headbox-history .tabs a {
    width: 120px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.headbox-history .tabs a.active {
    background-color: rgb(12, 14, 82);
}

.headbox-history .transaction {
    width: 90%;
    height: 150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}

.transaction div {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction .total {
    height: 50px;
    font-size: 20px;
    border-top: 1px solid white;
}

.history-date {
    width: 600px;
}

.history-date p {
    font-weight: 500;
}

.history-date p span {
    font-size: 25px;
    font-weight: bolder;
}

.accordion {
    width: 600px;
    display: flex;
    justify-content: center;
}

.accordion .contentbx {
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}

.accordion .contentbx .label {
    position: relative;
    padding: 15px;
    /* background-color: rgb(21, 23, 99); */
    background-color: rgb(34, 36, 173);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    z-index: -2;
    border-radius: 12px;
    transition: 0.4s 0.4s;
}

.accordion .contentbx .label .left-label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}

.accordion .contentbx .label .right-label {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin-right: 25px; */
}

.accordion .contentbx .label.expense-label {
    /* background-color: rgb(43 48 255); */
    /* background-color: rgb(51, 57, 243); */
    background-color: rgb(21, 23, 99);
}

.accordion .contentbx.active .label {
    border-radius: 12px 12px 0 0;
    transition: none;
}

.accordion .contentbx .history {
    height: 0;
    padding: 0 20px;
    background-color: rgb(9, 11, 69);
    /* background-color: rgb(34, 36, 173); */
    transition: all 0.5s;
    overflow-y: hidden;
    color: white;
    border-radius: 0 0 12px 12px;
    z-index: -1;
    /* position: relative; */
}

.accordion .contentbx.active .history {
    height: 200px;
    padding: 10px 20px;
}

.history {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
}

.detail .head-detail {
    display: flex;
    justify-content: space-between;
    /* background-color: forestgreen; */
}
.head-detail i {
    font-size: 20px;
}
.head-detail h3 {
    font-size: 24px;
}
.head-detail .delete-edit {
    display: flex;
    width: 70px;
    justify-content: space-between;
    /* background-color: aqua; */
}

.head-detail button {
    border: none;
}

.head-detail a,
.head-detail button {
    width: 30px;
    height: 30px;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(51, 39, 121);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.head-detail a:nth-child(2) {
    background-color: rgb(27, 30, 121);
    /* background-color: rgb(30, 172, 30); */
}
.head-detail a:hover {
    /* background-color: rgba(0, 0, 0, 0.87); */
    opacity: 0.9;
}

.biaya {
    display: flex;
    justify-content: space-between;
}

.biaya p {
    width: 50%;
}

.biaya h3 {
    font-size: 31px;
}

/* Pagination History */
.pagination {
    /* width: 5%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;
    font-size: 20px;
    text-decoration: none;
}

.pagination li {
    list-style: none;
}

.page-link {
    color: white;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: rgb(21, 23, 99);
    text-decoration: none;
}

.page-link:hover {
    background: rgb(35, 38, 145);
}
.page-item.active .page-link {
    background-color: rgb(43 48 255);
}

.page-item.disabled .page-link {
    pointer-events: none;
    background: rgba(21, 24, 99, 0.5);
}

/* Add Record */
.container-addrecord {
    margin-top: 50px;
    /* align-items: center; */
    height: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.record-title {
    margin-top: 100px;
    text-align: center;
}

.container {
    margin-top: 100px;
    padding: 32px;
}

.select-box {
    display: flex;
    width: 350px;
    flex-direction: column;
    margin-bottom: 5px;
}

.select-box .option-container {
    background: rgb(21, 23, 99);
    color: white;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}

.selected {
    background: rgb(21, 23, 99);
    border-radius: 12px;
    margin-bottom: 6px;
    color: white;
    display: flex;
    align-items: center;
    order: 0;
}

.arrow {
    font-size: 20px;
}

.selected .selected-title {
    margin-right: auto;
}

.selected::after {
    content: "";
    transition: all 0.8s;
}

.select-box .option-container.active {
    max-height: 130px;
    opacity: 1;
    overflow: auto;
    /* overflow-y: auto; */
}

.select-box .selected.is-option {
    background-color: rgb(81, 12, 219);
}

/* .select-box .option-container.active + .selected::after {
    transform: rotateX("180deg");
    top: -6px;
} */

::-webkit-scrollbar {
    width: 8px;
    background: rgb(9, 11, 69);
}
::-webkit-scrollbar-thumb {
    background: rgb(35, 38, 145);
}

.select-box .option-container::-webkit-scrollbar {
    width: 8px;
    background: rgb(9, 11, 69);
    border-radius: 0 8px 8px 0;
}

.select-box .option-container::-webkit-scrollbar-thumb {
    background: rgb(35, 38, 145);
    border-radius: 0 8px 8px 0;
}

.select-box .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-box .option .option-check {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: none;
}

.select-box .option .option-check.checked {
    display: flex;
}

.select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
    transition: background 0.5s;
}

.select-box .option:hover {
    background: rgb(43, 45, 141);
}
.select-box .option.option-selected {
    background-color: rgb(43 48 255);
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

/* Amount Section */
.input-field {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.head-input {
    display: flex;
    gap: 10px;
}
.input-group {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 5px;
}

.input-group input,
.input-group textarea {
    padding: 10px;
    border-radius: 12px;
    height: 45px;
    border: 2px solid #c4c4c4;

    /* width: 100%; */
    /* flex-grow: 1; */
}

.input-group input:focus,
.input-group textarea:focus {
    outline: none;
    border: 2px solid rgb(81, 12, 219);
}

.input-group textarea {
    height: 80px;
    max-height: 90px;
    resize: none;
}

.bottom-input {
    text-align: center;
}

.bottom-input button {
    /* margin-top: 10px;
    margin-left: 100px; */
    padding: 12px;
    width: 70%;
    background: rgb(81, 12, 219) !important;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    border: none;
}

.input-field .input-record {
    border: 2px solid #c4c4c4;
    width: 100%;
}

/* .input-field div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
} */

/* Money Tabel Insight  */
.dashboard-insight {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.box-insight {
    /* width: 380px; */
    flex-grow: 1;
    border-radius: 10px;
    background-image: linear-gradient(
        to right,
        rgb(9, 11, 69),
        rgb(21, 23, 99),
        rgb(40, 41, 131)
    );
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 30px;
    color: white;
}

/* Line Chart */
.linechart1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.line-chart {
    width: 700px;
    margin-top: 70px;
}

/* Pie Chart */
.piechart- {
    font-size: 15px;
    text-align: center;
    margin-top: 70px;
    width: 400px;
}

.pieWrap {
    justify-content: center;
    gap: 15%;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 860px) {
    .headbox-history {
        width: 80%;
    }
    .accordion,
    .history-date {
        width: 80%;
    }
    .accordion .biaya {
        flex-direction: column;
        gap: 10px;
    }
    .accordion .biaya p {
        width: 100%;
    }

    .record-title {
        margin-top: 90px;
    }
    .accordion .contentbx .label .left-label {
        font-size: 30px;
    }
    .accordion .contentbx .label .left-label span {
        display: none;
    }
    .accordion .contentbx .label .right-label {
        width: 90%;
        justify-content: space-between;
        font-size: 23px;
    }

    /* Tabel Insight */
    .dashboard-insight {
        gap: 20px;
    }

    /* pieChart */
    .piechart- {
        width: 270px;
    }

    .line-chart {
        margin-left: 1px;
        width: 350px;
    }
}

@media screen and (max-width: 515px) {
    .sidebar {
        transform: translateX(-240px);
    }

    .dashboard-content {
        position: static;
        height: 100%;
        width: 100%;
        transition: all 0.5s ease;
        margin-top: 70px;
    }

    .sidebar.active ~ .dashboard-content {
        width: 100%;
        left: 0;
    }

    .header {
        width: 100%;
        z-index: 1;
    }

    .sidebar.active ~ .dashboard-content .header {
        width: 100%;
    }

    .sidebar.active {
        transform: translateX(0px);
    }

    .sidebar .logo_content .logo .sidebar-hamburger {
        display: block;
    }

    .sidebar .logo_content .logo {
        justify-content: space-between;
    }

    .table-fill {
        width: 20px;
    }

    /* .container-addrecord {
        margin-top: 80px;
    } */

    .record-title {
        margin-top: 30px;
    }

    /* history */
    .headbox-history {
        width: 100%;
    }
    .headbox-history .tabs a {
        font-size: 14px;
        text-align: center;
    }
    .accordion,
    .history-date {
        width: 100%;
    }
    .accordion .biaya {
        flex-direction: column;
        gap: 10px;
    }
    .accordion .biaya p {
        width: 100%;
    }
    .accordion .biaya h3 {
        font-size: 30px;
    }
    .accordion .contentbx.active .history {
        padding: 0 15px 13px 15px;
    }

    /* Insight Responsive */

    /* Tabel Insight */
    .dashboard-insight {
        gap: 20px;
    }

    /* pieChart */
    .piechart- {
        width: 270px;
    }

    .line-chart {
        margin-left: 1px;
        width: 350px;
    }

    /* comment */
}
