@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    /* overflow: hidden; */
}

.dashboard-content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.sidebar.active ~ .dashboard-content {
    width: calc(100% - 240px);
    left: 240px;
}

.wrapper {
    margin: 10px;
}

.dashboard-information {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.box-dashboard {
    /* width: 380px; */
    flex-grow: 1;
    border-radius: 10px;
    background-image: linear-gradient(
        to right,
        rgb(9, 11, 69),
        rgb(21, 23, 99),
        rgb(40, 41, 131)
    );
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: white;
}

.box-balance {
    font-size: 80%;
}

.header {
    width: 100%;
    height: 60px;
    background-image: linear-gradient(
        to right,
        rgb(9, 11, 69),
        rgb(21, 23, 99)
    );
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header .header-left button {
    font-size: 24px;
    cursor: pointer;
    color: white;
    border: none;
    background: transparent;
}

.sidebar .logo_content .logo {
    justify-content: center;
}

.sidebar .logo_content .logo .sidebar-hamburger {
    display: none;
    cursor: pointer;
}

/* Css Tabel Transaksi */
/* .tabelTransaksi {
    margin-top: 78px;
    margin-right: 557px;
}
.tabelTransaksi body {
    background-color: #3e94ec;
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

.tabelTransaksi div.table-title {
    display: block;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
}

.table-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
} */

/* Style Tabel */

/* .table-fill {
    background: white;
    border-radius: 12px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;a
    max-width: 600px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

.tabelTransaksi th {
    color: #d5dde5;
    background: rgb(21, 23, 99);
    border-bottom: 4px solid #9ea7af;a
      border-right: 1px solid #343a45;a
    font-size: 23px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

.tabelTransaksi th:first-child {
    border-top-left-radius: 12px;
}

.tabelTransaksi th:last-child {
    border-top-right-radius: 12px;
    border-right: none;
}

.tabelTransaksi tr {
    border-top: 1px solid #c1c3d1;
    border-bottom: 1px solid #c1c3d1;
    color: #666b85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.tabelTransaksi tr:hover td {
    background: rgb(46, 48, 135);
    color: #ffffff;
    border-top: 1px solid rgb(46, 48, 135);
}

.tabelTransaksi tr:first-child {
    border-top: none;
}

.tabelTransaksi tr:last-child {
    border-bottom: none;
}

.tabelTransaksi tr:nth-child(odd) td {
    background: #ebebeb;
}

.tabelTransaksi tr:nth-child(odd):hover td {
    background: rgb(62, 64, 180);
}

.tabelTransaksi tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

.tabelTransaksi tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

.tabelTransaksi td {
    background: #ffffff;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #c1c3d1;
}

.tabelTransaksi td:last-child {
    border-right: 0px;
}

.tabelTransaksi th.text-left {
    text-align: left;
}

.tabelTransaksi th.text-center {
    text-align: center;
}

.tabelTransaksi th.text-right {
    text-align: right;
}

.tabelTransaksi td.text-left {
    text-align: left;
}

.tabelTransaksi td.text-center {
    text-align: center;
}

.tabelTransaksi td.text-right {
    text-align: right;
} */

/* Alert */
.alert {
    width: 50%;
    height: 50px;
    margin: auto;
    background-color: lightblue;
    border: 1px solid blue;
    color: darkblue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

/* Transaction History */
.accordion {
    width: 800px;
}
.accordion .contentbx {
    position: relative;
    margin: 10px 20px;
}

.accordion .contentbx .label {
    position: relative;
    padding: 10px;
    background-image: linear-gradient(
        to right,
        rgb(9, 11, 69),
        rgb(21, 23, 99)
    );
    color: white;
    cursor: pointer;
}

.accordion .contentbx .label::before {
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .contentbx.active .label::before {
    content: "-";
}

.accordion .contentbx .categories {
    position: relative;
    background: #3e94ec;
    height: 0;
    overflow: hidden;
    transition: 0.8s;
    overflow-y: auto;
}

.accordion .contentbx.active .categories {
    height: auto;
    padding: 10px;
}

.categories {
    display: flex;
    gap: 20%;
    list-style: none;
}

/* .categories ul {
    border-radius: 10px;
    border: 2px solid black;
    width: 100%;
} */

.categories li {
    margin-left: 20px;
}

.time li {
    list-style: none;
    margin-right: 10px;
}

.note li {
    list-style: none;
}

.amount li {
    list-style: none;
}

/* .line {
    border-left: 2px solid rgb(0, 0, 0);
    height: 100%;
} */

/* Add Record */
.container-addrecord {
    display: flex;
    gap: 20px;
}

.Record {
    margin: 16px;
}

.container {
    margin-top: 100px;
    padding: 32px;
}

.select-box {
    display: flex;
    width: 350px;
    flex-direction: column;
    margin-bottom: 5px;
}

.select-box .option-container {
    background: rgb(21, 23, 99);
    color: white;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}

.selected {
    background: rgb(21, 23, 99);
    border-radius: 12px;
    margin-bottom: 6px;
    color: white;
    display: flex;
    align-items: center;
    order: 0;
}

.arrow {
    font-size: 20px;
}

.selected .selected-title {
    margin-right: auto;
}

.selected::after {
    content: "";
    transition: all 0.8s;
}

.select-box .option-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .option-container.active + .selected::after {
    transform: rotateX("180deg");
    top: -6px;
}

.select-box .option-container::-webkit-scrollbar {
    width: 8px;
    background: rgb(9, 11, 69);
    border-radius: 0 8px 8px 0;
}

.select-box .option-container::-webkit-scrollbar-thumb {
    background: rgb(35, 38, 145);
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background: rgb(43, 45, 141);
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

/* Amount Section */
.input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.head-input {
    display: flex;
    gap: 10px;
}
.input-group {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 5px;
}

.input-group input,
.input-group textarea {
    padding: 10px;
    border-radius: 12px;
    height: 45px;
    border: 2px solid #c4c4c4;
    /* width: 100%; */
    /* flex-grow: 1; */
}

.input-group input:focus,
.input-group textarea:focus {
    outline: none;
    border: 2px solid rgb(81, 12, 219);
}

.input-group textarea {
    height: 80px;
    max-height: 90px;
    resize: none;
}

.bottom-input button {
    margin-top: 10px;
    margin-left: 100px;
    padding: 12px;
    width: 70%;
    background: rgb(81, 12, 219) !important;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    border: none;
}

.input-field .input-record {
    border: 2px solid #c4c4c4;
    width: 100%;
}

/* .input-field div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
} */

@media screen and (max-width: 515px) {
    .sidebar {
        transform: translateX(-240px);
    }

    .dashboard-content {
        position: static;
        height: 100%;
        width: 100%;
        transition: all 0.5s ease;
    }

    .sidebar.active ~ .dashboard-content {
        width: 100%;
        left: 0;
    }

    .sidebar.active {
        transform: translateX(0px);
    }

    .sidebar .logo_content .logo .sidebar-hamburger {
        display: block;
    }

    .sidebar .logo_content .logo {
        justify-content: space-between;
    }

    .table-fill {
        width: 20px;
    }

    .container-addrecord {
        display: flex;
        flex-wrap: wrap;
    }

    .bottom-input button {
        margin-left: 60px;
    }
}
